
body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
    height: 50px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-image, .upload-avatar-image {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.search-form-button {
    all: unset;
    border: 1px solid black;
    border-radius: 3px;
    background-color: green;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.search-form-button:hover {
    opacity: 90%;
}

.search-form-input {
    height: 23px;
    width: 300px;
}

.container {
    padding: 10px;
}

.title-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.cards, .question, .settings, .login-content {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
}

.card, .question-card, .answer-card {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
}

.card-image {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.card-likes {
    width: 100%;
    padding: 0;
}

.card-title {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-right-bottom {
    display: flex;
    justify-content: left;
}

.card-tags {
    margin-left: 15px;
}

.popular-tags h3 {
    margin-bottom: 10px;
}

.best-members-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form div {
    display: flex;
}

.form label {
    width: 10%;
}

.form input, .form textarea {
    width: 80%;
}

.form-button {
    width: 40px;
    margin-left: 10%;
}

button {
    background-color: white;
}

.account {
    width: 160px;
}

textarea {
    width: 99%;
    resize: vertical;
}

.answer-button {
    width: 70px;
}

#question_sidebar {
    margin-top: 5%;
}

.question-card {
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.question-card h4 {
    font-size: 28px;
}

.question-card img {
    font-size: 28px;
}

#question_card_left {
    width: 25%;
}

.card-likes {
    width: 60px;
}

.settings-avatar, .login-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.upload-avatar-image {
    width: 150px;
    height: 150px;
}

.upload-avatar-input {
    width: 50%;
}

.upload-avatar-input::file-selector-button {
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.save-avatar {
    width: 60px;
    cursor: pointer;
}

#login-buttons {
    display: flex;
    gap: 10px;
}

#login-buttons span {
    width: 100px;
}

.text-col {
    width: 200px;
}

.input-col input {
    width: 200px;
}

.settings-table {
    border-collapse: separate;
    border-spacing: 0em 1em;
    padding-left: 0;

}

.settings-table tbody {
    margin-left: 0;
}
