{% load static %}

<article class="answer-card" id="answer-{{ answer.id }}">
    <div class="card-left">
        <img src="{{  answer.author.profile.image.url }}" alt="Image" class="card-image">
        <input type="number" class="card-likes" value="{{ answer.num_likes }}">
    </div>

    <div class="card-right">
        <div class="card-right-content">
            <div class="card-text">{{ answer.text }}</div>
        </div>

        <div class="card-right-bottom">
            {% if answer.is_correct %}
                <input type="checkbox" class="answer-checkbox" checked>
            {% else %}
                <input type="checkbox" class="answer-checkbox">
            {% endif %}

            <label>Correct answer</label>
        </div>
    </div>

</article>