{% load static %}
{% load bootstrap5 %}

<article class="answer-card" id="answer-{{ answer.id }}" data-answer-id="{{ answer.id }}">
    <div class="card-left">
        {% if answer.author.profile.image %}
            <img src="{{ answer.author.profile.image.url }}" alt="Image" class="card-image">
        {% else %}
            <img src="" alt="Image" class="card-image">
        {% endif %}
        <div class="d-flex align-items-center mt-2" style="height: 2.5rem;">
            <input type="text" class="form-control text-center card-likes"
                   style="width: 80%; height: 70%; border-radius: 0;"
                   value="{{ answer.num_likes }}"
                   id="likes-{{ answer.id }}" readonly>
            <div class="btn-group-vertical" style="height: 70%;">
                <button class="btn btn-outline-primary p-0 like-button"
                        style="width: 100%; height: 50%; border-radius: 0; line-height: 0; color: black; border-color: lightgray;"
                        data-action="increment" data-question-id="{{ question.id }}">
                    <i class="bi bi-arrow-up-short" style="font-size: 0.8rem;"></i>
                </button>
                <button class="btn btn-outline-primary p-0 dislike-button"
                        style="width: 100%; height: 50%; border-radius: 0; line-height: 0; color: black; border-color: lightgray;"
                        data-action="decrement" data-question-id="{{ question.id }}">
                    <i class="bi bi-arrow-down-short" style="font-size: 0.8rem;"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card-right">
        <div class="card-right-content">
            <div class="card-text">{{ answer.text }}</div>
        </div>

        <div class="card-right-bottom">
            {% if answer.is_correct %}
                <input type="checkbox" class="answer-checkbox" checked>
            {% else %}
                <input type="checkbox" class="answer-checkbox">
            {% endif %}

            <label>Correct answer</label>
        </div>
    </div>

</article>