{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    <div class="title-bar">
        <h1>Ask question</h1>
    </div>
{% endblock %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary col-3">Ask</button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        {% include 'layouts/sidebar-contents.html' %}
    </aside>
{% endblock %}