{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    <div class="title-bar">
        <h1>Log in</h1>
    </div>
{% endblock %}


{% block content %}
    <div class="login-content">
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="save-avatar btn btn-primary col-3">Sign in</button>
            {% endbuttons %}

            <button class="btn btn-outline-primary col-3"><a href="{% url 'signup' %}">Create new account</a></button>
        </form>
    </div>

{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        {% include 'layouts/sidebar-contents.html' %}
    </aside>
{% endblock %}