{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    <div class="question">
        <article class="d-flex flex-row">
            <div class="card-left" id="question_card_left">
                <img src="{% static question.author.profile.image %}" alt="Image" class="card-image">
                <label for="question-image"></label><input type="number" class="card-likes" value="{{ question.num_likes }}" id="question-image">
            </div>

            <div class="card-right">
                <div class="card-right-content">
                    <h4 class="card-title">{{ question.title }}</h4>

                    <div class="card-text">{{ question.text }}</div>
                </div>

                <div class="card-right-bottom">

                    <div class="card-tags">
                        Tags:
                        {% for tag in question.tags.all %}
                            <a class="tag" href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </article>

        {% for answer in answers %}
            {% include 'layouts/answer-card.html' %}
        {% endfor %}

        {% include 'layouts/paginator.html' %}

{#        <form class="user-answer">#}
{#            <div class="answer">#}
{#                <label>#}
{#                    <textarea name="answer" cols="100%" rows="10" placeholder="Enter your answer here.."></textarea>#}
{#                </label>#}
{#            </div>#}
{#        </form>#}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="answer-button btn btn-primary col-3">Answer</button>

            {% endbuttons %}
        </form>
    </div>


{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        {% include 'layouts/sidebar-contents.html' %}
    </aside>
{% endblock %}