{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    <div class="title-bar">
        <h1>Registration</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="login-content">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="register-button btn btn-primary col-3">Register</button>
            {% endbuttons %}
        </form>

    </div>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar">
        {% include 'layouts/sidebar-contents.html' %}
    </aside>
{% endblock %}